.step-three {
  display: flex;
  flex-direction: column;
  gap: 8px;
  p {
    span {
      font-weight: 700;
      color: #222222;
    }
    line-height: 16.94px;
    color: #444444;
  }
  .row {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 24px;
    .item {
      flex-grow: 1;
      height: 74px;
      border: #cccccc 1px solid;
      border-radius: 4px;
      padding: 24px 32px 24px 32px;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    .empty-item {
      flex-grow: 1;
      height: 0px;
      border-radius: 4px;
      padding: 24px 32px 24px 32px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      visibility: hidden;
    }
  }
}
