h2 {
  margin: 0px;
  font-weight: 600;
  line-height: 29.05px;
}

p {
  margin: 0px;
  font-weight: 400;
  line-height: 19.36px;
}

.subheader {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
